.komeil-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
  backdrop-filter: blur(2px);
     background-color: rgba(0,0,0,0.5);
  .lotie{
        min-width: 350px;
    padding: 25px;
     backdrop-filter: blur(100px);
    background-color: white;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      margin-top: 10px;
      font-size: 26px;
      color: gray;
      font-weight: 800;
    }
  }
}
